<div flex layout="row" layout-align="center center">
    <div flex-gt-xs="100">
        <div layout="column">
            <md-content class="md-padding">
                <md-card>
                    <md-toolbar>
                        <md-card-header class="md-primary" flex layout="column" layout-align="center center">
                            {{asignatura.name}}
                        </md-card-header>
                    </md-toolbar>
                    <md-card-content>
                        <div layout="column">
                            <md-input-container class="md-block" flex-gt-sm>
                                    <label>Filtrar...</label>
                                    <input ng-model="query">
                            </md-input-container>
                            <div ng-show="asignatura.values.length > 0">
                                <table>
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Resultado de aprendizaje</th>
                                            <td align="right" ng-repeat="(category_name,category_value) in asignatura.values[0].analysis.categs">
                                                {{category_name}}
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ra in asignatura.values | filter:query">
                                            <td class="table-index">{{$index+1}}</td>
                                            <td>
                                                <span ng-repeat="token in ra['analysis']['phrase']">

                                                    {{token[0]}}
                                                    <md-tooltip md-direction="top" ng-show="token.length > 1">
                                                        {{ token.slice(1,token.length).join(', ') }}
                                                    </md-tooltip>
                                                </span>
                                            </td>
                                            <td align="right" ng-repeat="category in ra.analysis.categs">
                                                {{category}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="asignatura.values.length == 0">
                                 <div flex layout="column" layout-align="center center">
                                    <h4>No hay resultados de aprendizaje para esta asignatura</h4>
                                 </div>
                            </div>
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>

        </div>
    </div>
</div>