<div flex layout="row" layout-align="center center">
    <div flex-gt-xs="85" flex-gt-lg="55">
        <div layout="column">
            <div >
                <canvas id="categorias-chart" class="chart chart-radar"
                        chart-data="data" chart-labels="labels"> chart-series="series">
                </canvas>
            </div>

            <md-content class="md-padding">
                <md-card>
                    <md-tabs class="md-primary" md-selected="0" md-center-tabs md-dynamic-height>
                        <md-tab ng-repeat="tab in labels" label="{{tab}}">
                            <md-content class="md-padding">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Filtrar...</label>
                                    <input ng-model="query">
                                </md-input-container>
                                <ul class="values-list">
                                    <li class="values-list-item" ng-repeat="value in values[$index] | filter:query">
                                        {{value.name}}
                                    </li>
                                </ul>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                    <md-card-content>
                    </md-card-content>
                </md-card>
            </md-content>

        </div>
    </div>
</div>