html,body {
    margin: 0 !important;
    padding: 0 !important;
}

/* HEADER */

#header{
  color: white;
  padding-top: 1px;
  padding-bottom: 20px;
}

#logoUPV{
  max-height: 100px;
}
/* INDEX */

#results-div{
  margin-top: 30px;
}


/* BODY BLOOM*/

#filter-div{

  margin: 40px;
  padding-bottom: 40px;

}

.pagination li{
  font-size: 1.3rem !important;
  cursor: pointer;
}

.pagination li.active{
  background-color: #00695C;
  color:#FFF;
}

.select-wrapper{

  width: 100px;

}


#results-table-div{

  margin: 40px;

}

#results-table thead{
  color:white;
}

#results-table th{
  cursor: pointer;
  border-radius: 0px !important;
}

.cell{
  padding-left: 15px;
  padding-right: 15px;
}

.bg-green{
  background-color: #00695c;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
}

#graph-div{
  text-align: center;
  margin-top: 50px;
}
